.header {
	.nav {
		ul {
			
			li {
				
				a {
					padding: 44% 0 20px;
				}
			}
			li.mic-home {
				max-width: 278px;
				a {
					img {
						top: 6px;
					}
				}
			}
		}
	}
}